<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
      <br><h1>The List of all COURSES offered</h1>
      <!-- <h2>Building the Nation's Future</h2> -->
      <a href="courses.html" class="btn-get-started">Get Started</a>
    </div>
  </section><!-- End Hero -->

  <!-- <main id="main"></main> -->

    <div class="row">
        <div class="column">
      <div class="card">
          <div class="card-image"></div>
          <div class="card-text">
            <h2>FULL stack</h2>
            <p>contents</p>
          </div>
          <div class="card-stats">
           
            <div class="stat border">
              <div class="type">Read more...</div>
            </div> 
           
          </div>
  
      </div>
        </div>
      </div>
  <!-- </main> -->
  <!-- End #main -->
