body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif }

.row {
  display: flex; /* equal height of the children */
}

.col {
  flex: 1; /* additionally, equal width */
  
  padding: 1em;
  border: solid;
}

.p{
    font-size: x-large;
}

#about {
  background: #fff;
}

.content-left-bottom h4 {
  font-size: 1.7em;
  letter-spacing: 6px;
  line-height: 1.5em;
  margin: 1em 0;
  color: #272525;
  font-weight: 700;
}

.content-left-bottom {
  margin-top: 5em;
}

/*--*/

.ab-info {
  text-align: center;
}

.ab-info h4 {
  font-size: 1em;
  color: #ffc80a;
  margin: 2em 0 0em 0;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.list-group-image {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  transition: 0.5s all;
  background: rgb(236, 237, 239);
  padding: 8px;
}

.ab-info p {
  text-align: center;
  color: #fff;
  font-size: 1em;
  font-weight: 400;
  font-family: 'Oswald', sans-serif;
}

.ab-content img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.15);
  transition: all 500ms ease;
  width: 68%;
}

.ab-content-inner {
  padding: 2em 1em;
}

.ab-info h5 {
  font-size: 1.1em;
  letter-spacing: 0px;
  font-weight: 700;
  color: #555;
  line-height: 1.7em;
}

/*--*/
/*--*/
/*-- features --*/

.heading-grid {
  margin-bottom: 6em;
}
.banner-bottom span.fa {
  font-size: 30px;
color: #03f4eb;
}
.inner-info h4 {
  text-transform: capitalize;
  font-size: 19px;
  letter-spacing: 1px;
  font-weight: 400;
}
/*-- //features --*/


/* overlay */
.image-block-container {
  font-family: Arial;
}

.image-block-container img {
  display: block;
  margin:0 auto;
  width: 100%;
}

.text-block-right {
  position:relative;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 0px 12px 4px;
  line-height: 28px;
  font-weight: 100;
  text-align: left;
  background: rgb(255, 255, 255);
  color: black;
  padding:20px;
  bottom: 35%;
  max-width: 300px;
  margin-top: -120px !important;
  word-wrap:break-word;
  margin:0 auto;
  line-height:35px;
}

.text-block-left {
  position:relative;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 0px 12px 4px;
  line-height: 28px;
  font-weight: 100;
  text-align: left;
  background: rgb(255, 255, 255);
  color: black;
  padding:20px;
  bottom: 35%;
  max-width: 300px;
  margin-top: -120px !important;
  word-wrap:break-word;
  margin:0 auto;
  line-height:35px;
}


@media (min-width: 768px){
    
  .image-block-container {
    position: relative;
  }
  .image-block-container img {
    width: 65%;
    margin:0 auto;
  }
  
  .text-block-right {
    position: absolute;
    bottom: 20%;
    right: 5%;
    max-width:550px;
  }

  .text-block-left {
    position: absolute;
    bottom: 20%;
    left: 5%;
    max-width:550px;
  }
}

.float-container {
  border: 3px solid #fff;
  padding: 20px;
}

.float-child {
  width: 50%;
  float: left;
  padding: 20px;
  border: 2px solid red;
}  

