<div class="w3-content" style="max-width:1400px">


    <!-- Grid -->
    <div class="w3-row">
    
    <!-- Blog entries -->
    <div class="w3-col 2l s12">
      <!-- Blog entry -->
      <div class="w3-card-4 w3-margin w3-white">
        <img src="../../assets/meenu/Big-Career-Dream-with-data-science-and-engineering-2.jpg" alt="Nature" style="width:100%;height: 420px;;">
        <div class="w3-container">
          <h3><b>ABOUT THE PROGRAM</b></h3>
        </div>
    <br>
        <div class="w3-container">
          <p>The MERN stack is an excellent choice for web developers who 
            wish to develop high-quality web applications using JavaScript. 
            The core technologies define the MERN stack – MongoDB, Express.js, 
            React, and Node.js – all are based on one language, Javascript. 
            MERN stack, in addition to using high-performance and customized
             technologies, allows for easier and faster deployment of full-stack web
              applications. Its flexibility and open-source nature make it popular
               among developers. This program helps the learners to build data-driven 
               applications, as well as test, secure, and deploy their code.
          </p>
          <br><br>
        </div>
      </div>
    </div>
      <hr>
    <!-- /////////////////////////////////////// -->
    
    <div class="w3-row">
          <!-- Blog entries -->
        <div class="w3-col l8 s12">
             <!-- Blog entry -->
          <div class="w3-card-4 w3-margin w3-white">
                <div class="w3-container">
                    <h3><b>OBJECTIVE</b></h3>
                </div>
        
                  <div class="w3-container">
                     <p><li>Familiarize Express application framework.</li>
                        <li>Master Node.js by building practical, working examples
                             including security features.</li>
                        <li>Developing MERN stack application using ES6 (JavaScript)</li>
                        <li>Develop, deploy and secure advanced, high performance,
                            web applications and web APIs</li>
                     </p>
         </div>
        </div>
          <hr>
    </div>
        
        <!-- Introduction menu -->
        <div  id="shine" class="w3-col l4">
               <!-- About Card -->
            <div class="w3-card w3-margin w3-margin-top">
                <div  class="w3-container w3-white">
                    <h4><b>IMPORTANT DATES</b></h4>
                    <p>Just me, myself and I, exploring the universe of uknownment. I have a heart of love and a 
                        interest of lorem ipsum and mauris neque quam blog. I want to share my world with you.</p>
                </div>
            </div><hr>
        </div>
          <!--///////////////////////////  -->
          <br><br>
     
    
<!--     
    Agenda -->
    <div class="image-block-container">
              <img src="../../assets/meenu/Software-Testing-Interview-Questions.png" alt="about_us" />
        <div class="text-block-right">
             <h1>OBJECTIVE</h1>
             <p>
               
                <li>    To learn how to formulate, plan, and execute effective digital ​</li>
                <li>    To understand applications of popular digital marketing tools & Techniques ​</li>
                <li>    To understand the use of digital media analytics for effective digital marketing ​</li>
                <li>    To prepare for top digital marketing certification exams such as,Google Analytics, GoogleAds and Face book Blueprint.​</li>
             </p>
        </div>
    </div>
    <br><br>

    <div class="image-block-container">
             <img src="../../assets/meenu/Full-Stack-Development-Services-1.jpg" alt="about_us" />
        <div class="text-block-left">
              <h1>AGENDA</h1>
              <p>
                <li>  Introduction to Digital marketing.</li>
                <li>   Search Engine Optimization (SEO)</li>
                <li>  Search Engine Marketing (SEM)</li>
                <li>   Social Media Marketing</li>
                <li>   Google Analytics</li>
                <li>   E-Mail Marketing</li>
                <li>   Affiliate marketing</li>
                <li>   Content Marketing</li>
                <li>   Tools for creating promotional content/ Ad desigining </li></p>
        </div>
    </div> -->
    <!-- end-->
    
    <!-- HIGHLIGHTS -->
    <div class="w3-panel w3-red w3-leftbar w3-padding-32">
          <h1>HIGHLIGHTS</h1>
           <h6><i class="fa fa-info w3-deep-orange w3-padding w3-margin-right"></i> Hands-on Session by Industrial Experts.
               Guidance in talking additional Certifications
               A clear understanding of Industry needs.</h6>
    </div>
    <!-- END -->

    <!-- ELIGIBILITY -->
    <div class="w3-row-padding" id="about">
          <div class="w3-col l8 12">
              <h3>ELIGIBILITY</h3>
              <p>Any graduate with creative mind can apply for the course. Final year students who are awaiting for the results with no backlogs can also apply for the course.
                 Please note in case we, ICT Academy of Kerala detect any ineligibility at any stage the candidature will be cancelled accordingly.
               <li> Limit  – 56 years</li></p>
           </div>
        <div class="w3-col l4 12">
          <!-- Image of location/map -->
          <img src="../../assets/meenu/about.jpg" class="w3-image w3-greyscale" style="width:100%;">
        </div>
    </div>
      
     <!-- entrance details -->
      <!-- Blog entries -->
      <div class="w3-col 21 s12">
        <!-- Blog entry -->
          <div class="w3-card-4 w3-margin w3-white">
             <div class="w3-container">
                <h3><b>ENTRANCE TEST DETAILS</b></h3>
            <!-- <h5>Title description, <span class="w3-opacity">April 7, 2014</span></h5> -->
              </div>
      
          <div class="w3-container">
            <p><h4>General Aptitude Test</h4> ( Applicable only for those who wish to avail scholarship)
               <h5>  Certified Specialist in Digital Marketing (60 Minutes)</h5>
               <h6>  Topics</h6>
                   
               <li>  Numerical Ability</li>
               <li>     Verbal Ability </li>
               <li>    Logical Reasoning</li>
               <li>    Data Interpretation </li>
               <li>    The Duration of the Test will be 60 mins(15QS in each module) </li>
              Students who have completed their graduation, but awaiting the final results can also apply
             <a href="#">Download Sample Question Paper</a> 
          </div>
        </div>
        <hr>  
      </div>
     <!-- end -->
      
    
    <!-- course fee and refund -->
    <div class="w3-row">
        <!-- Blog entries -->
        <div class="w3-col 21 s12">
            <!-- Blog entry -->
            <div class="w3-card-4 w3-margin w3-white">
                <div class="w3-container">
                   <h3><b>COURSE FEES</b></h3>
               </div>
      
                <div class="w3-container">
                   <p><li>Familiarize Express application framework.</li>
                      <li>Master Node.js by building practical, working examples
                          including security features.</li>
                      <li>Developing MERN stack application using ES6 (JavaScript)</li>
                      <li>Develop, deploy and secure advanced, high performance,
                          web applications and web APIs</li>
                    </p>
                </div>
            </div>
              <hr>   
        </div>
    </div>

    <!-- refund -->
        <div class="w3-row">
        <!-- Blog entries -->
            <div class="w3-col 21 s12">
          <!-- Blog entry -->
               <div class="w3-card-4 w3-margin w3-white">
                   <div class="w3-container">
                      <h3><b>REFUND POLICY</b></h3>
                   </div>
        
                  <div class="w3-container">
                      <p>
                          <li>Familiarize Express application framework.</li>
                          <li>Master Node.js by building practical, working examples
                              including security features.</li>
                          <li>Developing MERN stack application using ES6 (JavaScript)</li>
                          <li>Develop, deploy and secure advanced, high performance,
                              web applications and web APIs</li>
                      </p>
                  </div>
                </div>
                <hr>
            </div>
        </div>
     